[package]
name = "bpftop"
version = "0.1.0"
edition = "2021"

[dependencies]
libbpf-rs = "0.22.1"
libbpf-sys = "1.3.0+v1.3.0"
crossterm = "0.27.0"
regex = "1.8.1"
anyhow = "1.0.71"
ratatui = { version = "0.26.0", default-features = false, features = ['crossterm'] }
nix = "0.27.1"

[profile.release]
debug = false