[package]
name = "bpftop"
version = "0.5.2"
edition = "2021"
description = "Dynamic real-time view of running eBPF programs"
license = "Apache-2.0"
authors = ["Jose Fernandez <josef@netflix.com>"]

[build-dependencies]
libbpf-cargo = "0.23.3"

[dependencies]
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-journald = "0.3.0"
libbpf-rs = "0.23.3"
libbpf-sys = "1.4.3"
crossterm = "0.27.0"
anyhow = "1.0.86"
ratatui = { version = "0.27.0", default-features = false, features = ['crossterm'] }
nix = { version = "0.29.0", features = ["user"] }
circular-buffer = "0.1.7"
procfs = "0.16.0"
tui-input = "0.9.0"
